/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 mai 2024, 19:19:11
    Author     : sbenbouzid
*/
#accroche {
    z-index : 10;
    position : fixed;
    background:  white;
    width : 100%;
    left : 0;
    height : 6em;
    top : 6em;
    border-color: black;
    border-style : solid;
    border-width: 2px;
}

#accroche *{
    z-index : inherit;
    color : rgb(125 135 250);
    font-size: 2.8em;
    text-align:  center;
    top : 25%;
    
}

#mediums {
    z-index : -1;
    position : relative;
    top : 12em;
    overflow :auto;
    padding-bottom: 100px;
}

#mediums h1 {
    position : relative;
    z-index : inherit;
    color : black;
    font-size : 2.5em;
    font-family: Arial, sans-serif;
    text-align: center;
}

#mediums div {
    position : relative;
    z-index : inherit;
    position : relative;
    border-color : rgb(125 135 250);
    border-width: 2px;
    border-radius: 30px;
    border-style : solid;
    position : relative;
    margin-bottom: 80px;
    width : 75%;
    height : 200px;
    left : 50%;
    transform: translate(-50%);

}


#mediums * {
    z-index : inherit;
}
.name {
    position: relative;
    top : -200px;
    left : 225px;
    font-weight: bold;
    font-size : 1.5em;
}

.comment {
    position : relative;
    left : 225px;
    top : -175px;
    
}

img {
    position: relative;
    top: 0;
    left : 0;
    height : 200px;
    width : 200px;
    border-radius: 30px;
    
}
